@import "../colors.scss";
.navbar {
  background: $blu;
  z-index: 9999;
  @media only screen and (max-width: 991px) {
    background: $blu;
  }
  .navbar-collapse .navbar-nav .nav-link {
    color: $black;
    font-weight: bold;
  }

  a.login {
    cursor: pointer;
    margin-left: auto;
    @media only screen and (max-width: 991px) {
      margin-left: unset;
    }
  }
}
.navbar-light .navbar-toggler {
  border: transparent !important;
}
